<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <title>Research Computing SEC Filing Database</title>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <!-- <script type="text/javascript" src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" /> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mystyles.css')}}" media="screen" />
  <script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style>

    @import "compass/css3";
    $height-footer: 60px;

    * {
      box-sizing: border-box;
    }

  </style>

</head>

<body>
  <header id="header">
    <div class="media align-items-end">
      <div class="row col=12 col-md=12">
      <a href="{{url_for('index')}}"><img class="align-self-start mr-3" src="{{url_for('static', filename='Rosslogo.png')}}" id="logo" alt="ross logo"></a>
    </div>
      <div class="media-body">
        <a href="index.html" style="text-decoration : none"><h3 href="index.html">SEC Database</h3></a>
      </div>

      <!-- <form class="form-inline my-2 my-lg-0" id="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
  </header>

  <div class="container" id="full-page-container">
    <div class="row">
      <div class="col-md-3" id='outputleft'>
        <p>Your data query results will be accessible for the next 48 hours in the MyWRDS section of the website.</p>
        <p>Notice:</p>
        <p>Your use of WRDS and this data extract must comply with the WRDS Terms of Use. There may be additional usage restrictions that are governed by your institution's licensing of specific databases. If you have any questions about data licensing and appropriate usage, please contact WRDS using the Support form.</p>
      </div>
      <div class="col-md-9" id="outputright">
        <h4>Data Request Summary</h4>
        Your output is complete. Click on the button below to open the output file.
        <div class="downloadbtn">
          <!-- ********************************* The output number ********************************* -->
          <a href="{{ url_for('download_output', output_number=output_number)}}"><button type="button" class="btn btn-outline-primary btn-sm">Download</button></a>
        </div>

        <br/>
        <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Data Request ID</th>
              <td>{{ output_number }}</td>

            </tr>
            <tr>
              <th scope="row">Frequency/Date Range</th>
              <td>{{date_all}}</td>

            </tr>
            <!-- <tr>
              <th scope="row">Search Variable</th>
              <td>MKTCTR</td>
            </tr>

            <tr>
              <th scope="row">Input Codes</th>
              <td>all</td>
            </tr>

            <tr>
              <th scope="row">Conditional Statements</th>
              <td>n/a</td>
            </tr> -->

            <tr>
              <th scope="row">Output format/Compression</th>
              <td>{{outputformat}}</td>
            </tr>

            <tr>
              <th scope="row">Variables Selected</th>
              <td>{{selected}}</td>
            </tr>

            <!-- <tr>
              <th scope="row">Extra Variables and Parameters Selected</th>
              <td>A B M C N X  11 12 13 14 15 </td>
            </tr> -->

          </tbody>
        </table>
      </div>
    </div>
</div>
</div>

    <div class="page-footer font-small indigo mt-5 col-md-12" id="footer">
      <div class="container">
      <div class="footer-copyright text-center py-4 text-white">© 2018 Copyright:
        <a href="http://rossrc.bus.umich.edu" target="blank"> Ross Research Computing</a>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    </body>
    </html>
